$gray: #FAFAFA;
$gray1: #EEE;
$blue: #0288D1;
$blue1: #0277BD;

body {
	background-color: $gray1;
}

.login-section {
	position: absolute;
	width: 350px;
	padding: 25px;
  	background: #fff url("../../img/ribbon.png") left top no-repeat;
	top: 50%;
	left: 50%;
	border-radius: 4px;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	box-shadow: 5px 5px 25px #999;
}

.login-form {
	> h3 {
		text-align: center;
		margin-bottom: 15px;
	}
}

.mybtn {
	background-color: $blue;
	color: #fff;
	transition: all 0.3s ease-out;
	&:hover {
		background-color: $blue1;
		color: #fff;
	}
}