body {
  background-color: #EEE; }

.login-section {
  position: absolute;
  width: 350px;
  padding: 25px;
  background: #fff url("../img/ribbon.png") left top no-repeat;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  box-shadow: 5px 5px 25px #999; }

.login-form > h3 {
  text-align: center;
  margin-bottom: 15px; }

.mybtn {
  background-color: #0288D1;
  color: #fff;
  transition: all 0.3s ease-out; }
  .mybtn:hover {
    background-color: #0277BD;
    color: #fff; }

/*# sourceMappingURL=login.css.map */
