body {
  background-color: #EEE;
}

.svg-container {
  z-index: 9999;
  background-color: rgba(169, 169, 169, 0.7);
  color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}

.svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.mynav {
  background-color: #fff;
  box-shadow: 0px 5px 20px #999;
}

.logo {
  padding-top: 10px;
  padding-bottom: 5px;
  background: #fff url("/assets/img/ribbon.png") left top no-repeat;
}

.content {
  margin-top: 150px;
  padding: 5px 25px 15px;
  width: 97%;
}

.nav li:hover {
  cursor: pointer;
}

.btn-container {
  margin-top: 5px;
  margin-bottom: 10px;
  overflow: auto;
}

.right {
  float: right;
}

.menu-right {
  padding: 5px 0;
}
